Daily News Automation.json
{
  "name": "Daily News Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        160,
        0
      ],
      "id": "60f75917-da75-4078-b9aa-46f06b1ae9e0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"feedLinks\": [\n    \"https://www.theverge.com/rss/index.xml\",\n    \"https://techcrunch.com/feed/\",\n    \"http://feeds.bbci.co.uk/news/world/rss.xml\",\n    \"https://www.espn.com/espn/rss/news\",\n    \"https://www.thehindu.com/news/national/feeder/default.rss\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        0
      ],
      "id": "40ec3067-231c-4b96-9af4-93bd40f11efa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.feedLinks }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        640,
        0
      ],
      "id": "5a487007-cf4c-45b0-91e1-534bac5adcc7",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "type": "random"
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "fd940b20-db58-47b3-82e8-7113e7bc0087",
      "name": "Sort"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        992,
        0
      ],
      "id": "f34c93a5-7cef-48c9-9c9f-7ced3d8fa9b9",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional daily news editor. Your coverage includes global events, technology updates, sports, and national news. Summarize the following article in exactly 2 sentences. Be clear, direct, and factual.\n\nTitle: {{ $json.title }}\nContent: {{ $json.contentSnippet || $json.content || $json.description }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1424,
        16
      ],
      "id": "517a91e8-f76a-4142-87ee-bb5eb1b971e9",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1424,
        208
      ],
      "id": "26dd383c-b5ec-4aec-a79c-417d3064f164",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Djfy7suZ2GdHd7OH",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $runIndex == 0 ? \"📢 **Here is today's news (\" + $now.setZone('Asia/Kolkata').toFormat('MMMM d, yyyy') + \")**\\n━━━━━━━━━━━━━━━━━━━━\\n\\n\" : \"\" }}📰 **{{ $('RSS Read').item.json.title || 'News Update' }}**\n  \n{{ $json.text }}\n  \n{{ $('RSS Read').item.json.link ? '[Read the full article](' + $('RSS Read').item.json.link + ')' : '*No external link provided for this story.*' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1744,
        16
      ],
      "id": "bc9542e6-3aba-430d-a00d-0eb5cf23783c",
      "name": "Discord",
      "webhookId": "ca44ed64-548a-4a48-93ff-dcdfa76d9e6d",
      "credentials": {
        "discordWebhookApi": {
          "id": "apisP561mK96Pv7S",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "feedLinks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "044f675d-bbdf-4344-bf7c-50c9e47596c0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2016,
        16
      ],
      "id": "8b8f8756-2093-4747-a2be-5b8dbbd5f7d2",
      "name": "Wait",
      "webhookId": "8bc30826-ac76-4c26-8139-904562389560"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        0
      ],
      "id": "0826b41f-2b08-48ef-978a-96ec7addbb6f",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ef3594b6-92f4-48f9-8a57-7e22f93072b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e52a2a1db9c1adddaddf9521f0fe8f24cdb361eddd5c9b87bec6a160d3a06d9e"
  },
  "id": "oUkJVkaNwGYL01Kl",
  "tags": []
}